<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>kbs</title>

	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css"  media="screen,projection"/>
	<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
	<script type="text/javascript" src="/materialize/js/jquery.min.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.js"></script>
    <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
    
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
	<link rel="stylesheet" href="/materialize/css/chosen.min.css">

<style type="text/css">
	/* sobrescrever o nav padrao do materialize para trocar cor da barra */
	nav {
		color: #fff;
		background-color: #007db8;
		width: 100%;
		height: 56px;
		line-height: 56px
	}
	/* sobrescrever o table.striped do materialize para trocar cor de fundo das linhas da tebela */
	/* 	cor padrao do materialize #2bbbad  */
	table.striped>tbody>tr:nth-child(odd) {
		background-color: #e6f7ff;
	}
	table.striped>tbody>tr:nth-child(odd):hover {
		background: #b0e6ff;
	}
	table.striped>tbody>tr:hover {
	    background: #b0e6ff;
	}
	td a { 
	   display: block;
	   color: black;
	}
	.row {
		margin: 0px;
	}
	select, input {
		margin-top: 5px;
	}
	table {
		margin-left:3px;
		margin-right: 3px;
	}
	th, a {
		text-align:center;
	}
	.chosen-single span {
		text-align: left;
	}
</style>

</head>
<body>
	<h5 style="text-align: center;">Knowledge Base System</h5>
	<nav>
		<div class="nav-wrapper">
			<a href="/index" class="brand-logo right">Logo</a>
			<a href="#" class="sidenav-trigger" data-target="mobile-nav">
				<i class="material-icons">menu</i>
			</a>
			<ul class="Right hide-on-med-and-down">
				<li><a href="/index">Front Page</a></li>
				<li><a href="/registerknowledge">Register New</a></li>
				<li><a href="/admin">Admin</a></li>
			</ul>
		</div>
	</nav>

	<ul class="sidenav" id="mobile-nav">
	    <li><a href="/index">Front Page</a></li>
		<li><a href="/registerknowledge">Register New</a></li>
		<li><a href="/admin">Admin</a></li>
	</ul>

	<br>
	
	
	<fieldset>
	<legend style="padding-left: 5px; padding-right: 5px;">Search</legend>
	<div class="row">
		<form action="searchknowledge" method="post" class="col s12" th:object="${knowledgeObj}">
			<div class="row">
				<div class="input-field col s3">
					<label for="platforminfo" class="active">Platform</label>
					<select class="browser-default" name="platforminfo" id="platforminfo" th:value="${platforminfo}">
						<option value="" selected="selected">Choose</option>
						<option value="platformName" th:text="Platform_Name"></option>
						<option value="marketName" th:text="Market_Name"></option>
						<option value="sysid" th:text="SYSID"></option>
					</select>
				</div>
				<div class="input-field col s3">
					<label for="searchWord" class="active">keywords</label>
<!-- 					<input id="searchWord" type="text" name="searchWord" class="validate" th:value="${searchWord}"> -->
						<input id="searchWord" type="text" name="searchWord" class="validate">
				</div>
			</div>
			<div class="row">
				<div class="input-field col s3">
					<label for="titledescriptioninfo" class="active">Title and/or Description</label>
					<select class="browser-default" name="titledescriptioninfo" id="titledescriptioninfo" th:value="${titledescriptioninfo}">
						<option value="" selected="selected">Choose</option>
						<option value="title" th:text="Title_only"></option>
						<option value="description" th:text="Description_only"></option>
						<option value="both" th:text="Title_or_Description"></option>
					</select>
				</div>
				<div class="input-field col s3">
					<label for="titledescriptionkeyword" class="active">keywords</label>
<!-- 					<input id="titledescriptionkeyword" type="text" name="titledescriptionkeyword" class="validate" th:value="${titledescriptionkeyword}"> -->
						<input id="titledescriptionkeyword" type="text" name="titledescriptionkeyword" class="validate">
				</div>
			</div>
			<div class="row">
				<div class="input-field col s3">
					<label for="commodityinfo" class="active">Commodity</label>
					<select class="browser-default" name="commodityinfo" id="commodityinfo" th:value="${commodityinfo}">
						<option value="" selected="selected">Choose</option>
						<option th:each="c : ${commodities}" th:value="${c.id}" th:text="${c.commodity}"></option>
					</select>
				</div>
				<div class="input-field col s3">
					<label for="countryinfo" class="active">Country</label>
					<select class="browser-default" name="countryinfo" id="countryinfo" th:value="${countryinfo}">
						<option value="" selected="selected">Choose</option>
						<option th:each="ctry : ${countries}" th:value="${ctry.id}" th:text="${ctry.country}"></option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s3">
					<label for="statusinfo" class="active">Status</label>
					<select class="browser-default" name="statusinfo" id="statusinfo" th:value="${statusinfo}">
						<option value="" selected="selected">Choose</option>
						<option value="OPEN" th:text="OPEN"></option>
						<option value="CLOSED" th:text="CLOSED"></option>
					</select>
				</div>	
				<div class="input-field col s3">
					<label for="severityinfo" class="active">Severity</label>
					<select class="browser-default" name="severityinfo" id="severityinfo">
						<option value="">Choose</option>
						<option value="LOW_IMPACT" th:text="LOW_IMPACT"></option>
						<option value="MEDIUM_IMPACT" th:text="MEDIUM_IMPACT"></option>
						<option value="HIGH_IMPACT" th:text="HIGH_IMPACT"></option>
					</select>
				</div>
			</div>
			<div>
				<div class="input-field col" >
					<button class="btn waves-effect waves-light" type="submit" name="search" style="margin: 0px; left: 0px;">Search</button>
				</div>
				<div class="input-field col" >
					<button id="resetbtn" class="btn waves-effect waves-light" type="reset" name="search" onclick="resetfields()">Clear Form</button>
				</div>
			</div>
		</form>
	</div>
	</fieldset>

	<div class="row">
		<form action="/index" method="post">
			<div class="input-field col">
				<button class="btn waves-effect waves-light" type="submit" name="search">Clear filtered data</button>
			</div>
		</form>
		
	</div>

	<div th:each="m : ${msg}" style="margin: 8px;">
		<span th:text = "${m}"></span>	
	</div>

<!-- 	<h4 style="text-align: center">List of Registers</h4> -->
	<fieldset>
	<legend style="padding-left: 5px; padding-right: 5px;">List of Registers</legend>	
	<table class="striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Title</th>
				<th style="width: 25%">Description</th>
				<th>Platform</th>
				<th>Market Name</th>
				<th>SYSID</th>
				<th>Commodity</th>
				<th>Country</th>
				<th>Severity</th>
				<th>Status</th>
				<th>Attachment</th>
				<th>Edit</th>
				<th>Remove</th>
				
			</tr>
		</thead>
		<!-- Content para pegar o conteudo da lista -->
<!-- 		<tr th:each = "knowledgeItem : ${knowledgeList.content}"> -->
		<tr th:each = "knowledgeItem : ${knowledgeList}">
			<td><a th:href="@{/viewknowledge/{knowledgeItemId}(knowledgeItemId=${knowledgeItem.id})}"><span th:text="${knowledgeItem.id}"></span></a></td>
			<td><a th:href="@{/viewknowledge/{knowledgeItemId}(knowledgeItemId=${knowledgeItem.id})}"><span th:text = "${knowledgeItem.title}"></span></a></td>
			<td><a th:href="@{/viewknowledge/{knowledgeItemId}(knowledgeItemId=${knowledgeItem.id})}"><span th:text = "${knowledgeItem.description}"></span></a></td>
			<td><a th:href="@{/viewknowledge/{knowledgeItemId}(knowledgeItemId=${knowledgeItem.id})}"><span th:text = "${knowledgeItem.platform.platformName}"></span></a></td>
			<td><a th:href="@{/viewknowledge/{knowledgeItemId}(knowledgeItemId=${knowledgeItem.id})}"><span th:text = "${knowledgeItem.platform.marketName}"></span></a></td>
			<td><a th:href="@{/viewknowledge/{knowledgeItemId}(knowledgeItemId=${knowledgeItem.id})}"><span th:text = "${knowledgeItem.platform.sysid}"></span></a></td>
			<td><a th:href="@{/viewknowledge/{knowledgeItemId}(knowledgeItemId=${knowledgeItem.id})}"><span th:text = "${knowledgeItem.commodity.commodity}"></span></a></td>
			<td><a th:href="@{/viewknowledge/{knowledgeItemId}(knowledgeItemId=${knowledgeItem.id})}"><span th:text = "${knowledgeItem.regionCountry.country}"></span></a></td>
			<td><a th:href="@{/viewknowledge/{knowledgeItemId}(knowledgeItemId=${knowledgeItem.id})}"><span th:text = "${knowledgeItem.severity}"></span></a></td>
			<td><a th:href="@{/viewknowledge/{knowledgeItemId}(knowledgeItemId=${knowledgeItem.id})}"><span th:text = "${knowledgeItem.status}"></span></a></td>
			
			<td>
				<a th:if="${knowledgeItem.attachment != null}" th:href="@{/downloadknowledge/{knowledgeItemId}(knowledgeItemId=${knowledgeItem.id})}"><img alt="Download" th:src="@{/img/download.png}" width="25" height="25"></a>
				<a th:if="${knowledgeItem.attachment == null}"><img alt="---" th:src="@{/img/noFileToDownload.png}" width="25" height="25"></a>
			</td>
			
			<td><a th:href="@{/editknowledge/{knowledgeItemId}(knowledgeItemId=${knowledgeItem.id})}"><img alt="Edit" th:src="@{/img/editar.png}" width="25" height="25"></a></td>
			<td><a th:href="@{/deleteknowledge/{knowledgeItemId}(knowledgeItemId=${knowledgeItem.id})}"><img alt="Delete" th:src="@{/img/delete5.png}" width="25" height="25"></a></td>
		</tr>
	</table>
	
	
<!-- 	<div class="row" style="margin-top: 30px; text-align: center;"> -->

<!-- 		i sera a var de iteracao, #numbers.sequence eh do thymeleaf, totalPages eh do spring data, menos 1 pq retorna array iniciando em 0 -->
<!-- 		 o (page) e size eh padrao do spring data deve ser pagina , tem que ser 2x conchete -->
<!-- 		<span th:if="${knowledgeList.hasPrevious()}"> -->
<!-- 			<a th:href="@{/pageknowledge(page=${knowledgeList.number-1}, size=${knowledgeList.size}, platforminfo=${platforminfo}, searchWord=${searchWord}, -->
<!-- 			titledescriptioninfo=${titledescriptioninfo}, titledescriptionkeyword=${titledescriptionkeyword}, commodityinfo=${commodityinfo}, countryinfo=${countryinfo}, -->
<!-- 			statusinfo=${statusinfo}, severityinfo=${severityinfo} )}">back</a> -->
<!-- 		</span> -->
<!-- 		<th:block th:each="i: ${#numbers.sequence(0,knowledgeList.totalPages - 1)}"> -->
<!-- 			<a th:href="@{/pageknowledge(page=${i}, size=${knowledgeList.size}, platforminfo=${platforminfo}, searchWord=${searchWord}, -->
<!-- 			titledescriptioninfo=${titledescriptioninfo}, titledescriptionkeyword=${titledescriptionkeyword}, commodityinfo=${commodityinfo}, countryinfo=${countryinfo}, -->
<!-- 			statusinfo=${statusinfo}, severityinfo=${severityinfo})}">[[ ${i} + 1 ]]</a> -->
<!-- 		</th:block>	 -->
<!-- 		<span th:if="${knowledgeList.hasNext()}"> -->
<!-- 			<a th:href="@{/pageknowledge(page=${knowledgeList.number+1}, size=${knowledgeList.size}, platforminfo=${platforminfo}, searchWord=${searchWord}, -->
<!-- 			titledescriptioninfo=${titledescriptioninfo}, titledescriptionkeyword=${titledescriptionkeyword}, commodityinfo=${commodityinfo}, countryinfo=${countryinfo}, -->
<!-- 			statusinfo=${statusinfo}, severityinfo=${severityinfo})}">next</a> -->
<!-- 		</span> -->
			
			
<!-- 			<span th:if="${knowledgeList.hasPrevious()}"> -->
<!-- 			<a th:href="@{/pageknowledge(page=${knowledgeList.number-1}, size=${knowledgeList.size})}">back</a> -->
<!-- 		</span> -->
<!-- 		<th:block th:each="i: ${#numbers.sequence(0,knowledgeList.totalPages - 1)}"> -->
<!-- 			<a th:href="@{/pageknowledge(page=${i}, size=${knowledgeList.size})}">[[ ${i} + 1 ]]</a> -->
<!-- 		</th:block>	 -->
<!-- 		<span th:if="${knowledgeList.hasNext()}"> -->
<!-- 			<a th:href="@{/pageknowledge(page=${knowledgeList.number+1}, size=${knowledgeList.size})}">next</a> -->
<!-- 		</span> -->

<!-- 	</div> -->
	
	
	</fieldset>

<script type="text/javascript">
		
	$(document).ready(function(){
 		$('.sidenav').sidenav();
 	});
	
	$(".browser-default").chosen({width: "100%"});
	
	function resetfields(){
		$(".browser-default").val('').trigger("chosen:updated");
	}
	
</script>

</body>
</html>