<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>kbs</title>

	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css"  media="screen,projection"/>
	<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
	<script type="text/javascript" src="/materialize/js/jquery.min.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.js"></script>
    <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
    
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
	<link rel="stylesheet" href="/materialize/css/chosen.min.css">

<style type="text/css">
	/* sobrescrever o nav padrao do materialize para trocar cor da barra */
	nav {
		color: #fff;
		background-color: #007db8;
		width: 100%;
		height: 56px;
		line-height: 56px
	}
	/* sobrescrever o table.striped do materialize para trocar cor de fundo das linhas da tebela */
	/* 	cor padrao do materialize #2bbbad  */
	table.striped>tbody>tr:nth-child(odd) {
		background-color: #e6f7ff;
	}
	table.striped>tbody>tr:nth-child(odd):hover {
		background: #fff3b0;
	}
	table.striped>tbody>tr:hover {
	    background: #fff3b0;
	}
	td a { 
	   display: block;
	   color: black;
	}
	.row {
		margin: 0px;
	}
	select, input {
		margin-top: 5px;
	}
	table {
		margin-left:3px;
		margin-right: 3px;
	}
	th, a {
		text-align:center;
	}
	.chosen-single span {
		text-align: left;
	}
	
	button {
		margin: 0;
		width: 100px;
	}
	
</style>

</head>
<body>
	<h5 style="text-align: center;">Knowledge Base System</h5>
	<nav>
		<div class="nav-wrapper">
			<a href="/index" class="brand-logo right">Logo</a>
			<a href="#" class="sidenav-trigger" data-target="mobile-nav">
				<i class="material-icons">menu</i>
			</a>
			<ul class="Right hide-on-med-and-down">
				<li><a href="/index">Front Page</a></li>
				<li><a href="/registerknowledge">Register New</a></li>
				<li><a href="/admin">Admin</a></li>
			</ul>
		</div>
	</nav>

	<ul class="sidenav" id="mobile-nav">
	    <li><a href="/index">Front Page</a></li>
		<li><a href="/registerknowledge">Register New</a></li>
		<li><a href="/admin">Admin</a></li>
	</ul>

	<br>
	
	
	<fieldset>
	<legend style="padding-left: 5px; padding-right: 5px;">Search</legend>
	<div class="row">
		<form action="searchknowledge" method="post" class="col s12" th:object="${knowledgeObj}">
			<div class="row">
				<div class="input-field col s4">
					<label for="platforminfo" class="active">Platform</label>
					<select class="browser-default" name="platforminfo" id="platforminfo" th:value="${platforminfo}">
						<option value="">Choose</option>
						<option th:if="${platforminfo == 'platformName'}" th:value="${platforminfo}" selected="selected">Platform Name</option>
						<option th:unless="${platforminfo == 'platformName'}" value="platformName" >Platform Name</option>
						
						<option th:if="${platforminfo == 'marketName'}" th:value="${platforminfo}" selected="selected">Market Name</option>
						<option th:unless="${platforminfo == 'marketName'}" value="marketName">Market Name</option>
						
						<option th:if="${platforminfo == 'sysid'}" th:value="${platforminfo}" selected="selected">SYSID</option>
						<option th:unless="${platforminfo == 'sysid'}" value="sysid">SYSID</option>
					</select>
				</div>
				<div class="input-field col s4">
					<label for="searchWord" class="active">keywords</label>
					<input id="searchWord" type="text" name="searchWord" class="validate" th:value="${searchWord}">
				</div>
			</div>
			<div class="row">
				<div class="input-field col s4">
					<label for="titledescriptioninfo" class="active">Title and/or Description</label>
					<select class="browser-default" name="titledescriptioninfo" id="titledescriptioninfo" th:value="${titledescriptioninfo}">
						<option value="" selected="selected">Choose</option>
						<option th:if="${titledescriptioninfo == 'title'}" th:value="${titledescriptioninfo}" selected="selected">Title</option>
						<option th:unless="${titledescriptioninfo == 'title'}" value="title" >Title</option>
						
						<option th:if="${titledescriptioninfo == 'description'}" th:value="${titledescriptioninfo}" selected="selected">Description</option>
						<option th:unless="${titledescriptioninfo == 'description'}" value="description" >Description</option>
						
						<option th:if="${titledescriptioninfo == 'both'}" th:value="${titledescriptioninfo}" selected="selected">Both</option>
						<option th:unless="${titledescriptioninfo == 'both'}" value="both" >Both</option>
					</select>
				</div>
				<div class="input-field col s4">
					<label for="titledescriptionkeyword" class="active">keywords</label>
					<input id="titledescriptionkeyword" type="text" name="titledescriptionkeyword" class="validate" th:value="${titledescriptionkeyword}">
				</div>
			</div>
			<div class="row">
				<div class="input-field col s4">
					<label for="commodityinfo" class="active">Commodity</label>
					<select class="browser-default" name="commodityinfo" id="commodityinfo" th:value="${commodityinfo}">
						<option value="" selected="selected">Choose</option>
						<option th:each="c : ${commodities}" th:value="${c.id}" th:text="${c.commodity}" ></option>
					</select>
				</div>
				<div class="input-field col s4">
					<label for="countryinfo" class="active">Country</label>
						<select class="browser-default" name="countryinfo" id="countryinfo" th:value="*{regionCountry}" >
						<option value="" selected="selected">Choose</option>
						<option th:each="ctry : ${countries}" th:value="${ctry.id}" th:text="${ctry.country}"></option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s4">
					<label for="statusinfo" class="active">Status</label>
					<select class="browser-default" name="statusinfo" id="statusinfo" th:value="${statusinfo}">
						<option value="" selected="selected">Choose</option>
						
						<option th:if="${statusinfo == 'OPEN'}" th:value="${statusinfo}" selected="selected">OPEN</option>
						<option th:unless="${statusinfo == 'OPEN'}" value="OPEN" >OPEN</option>
						
						<option th:if="${statusinfo == 'CLOSED'}" th:value="${statusinfo}" selected="selected">CLOSED</option>
						<option th:unless="${statusinfo == 'CLOSED'}" value="CLOSED" >CLOSED</option>
						
					</select>
				</div>	
				<div class="input-field col s4">
					<label for="severityinfo" class="active">Severity</label>
					<select class="browser-default" name="severityinfo" id="severityinfo" th:value="${severityinfo}">
						<option value="" selected="selected">Choose</option>
						<option th:if="${severityinfo == 'LOW_IMPACT'}" th:value="${severityinfo}" selected="selected">LOW IMPACT</option>
						<option th:unless="${severityinfo == 'LOW_IMPACT'}" value="LOW_IMPACT" >LOW IMPACT</option>
						
						<option th:if="${severityinfo == 'MEDIUM_IMPACT'}" th:value="${severityinfo}" selected="selected">MEDIUM IMPACT</option>
						<option th:unless="${severityinfo == 'MEDIUM_IMPACT'}" value="MEDIUM_IMPACT" >MEDIUM IMPACT</option>
						
						<option th:if="${severityinfo == 'HIGH_IMPACT'}" th:value="${severityinfo}" selected="selected">HIGH IMPACT</option>
						<option th:unless="${severityinfo == 'HIGH_IMPACT'}" value="HIGH_IMPACT" >HIGH IMPACT</option>
					</select>
				</div>
			</div>
			<div>
				<div class="input-field col S1" >
					<button class="btn waves-effect waves-teal" type="submit" name="search" style="margin: 0px; left: 0px;">Search</button>
				</div>
				<div class="input-field col s1" >
					<button id="resetbtn" class="btn waves-effect waves-teal" type="reset" name="search" onclick="resetfields()">Clear</button>
				</div>
			</div>
		</form>
	</div>
	</fieldset>

<!-- removido botao de reset somente dos dados da tabela -->
<!-- 	<div class="row"> -->
<!-- 		<form action="/index" method="post"> -->
<!-- 			<div class="input-field col s2"> -->
<!-- 				<button class="btn waves-effect waves-teal" type="submit" name="search">Clear filtered data</button> -->
<!-- 			</div> -->
<!-- 		</form> -->
<!-- 	</div> -->

	<div class="row" style="box-sizing: content-box;">
		<div class="input-field col s12">
			<div th:each="m : ${msg}">
				<ul class="yellow lighten-4" style="height: 30px;">
					<li class="collection-item avatar">
						<span style="vertical-align:middle; padding-left: 10px;" th:text="${m}"></span>
					</li>
				</ul>
			</div>
		</div>
	</div>


	<!-- 	<h4 style="text-align: center">List of Registers</h4> -->
	<fieldset>
	<legend style="padding-left: 5px; padding-right: 5px;">List of Knowledges</legend>	
	<table class="striped">
		<thead>
			<tr>
<!-- 				<th style="width: 3%;">ID</th> -->
				<th style="width: 18%;">Title</th>
				<th style="width: 25%">Description</th>
				<th style="width: 10%;">Platform</th>
				<th style="width: 10%;">Market Name</th>
				<th style="width: 4%;">SYSID</th>
				<th style="width: 5%;">Commodity</th>
				<th style="width: 5%;">Country</th>
				<th style="width: 5%;">Severity</th>
				<th style="width: 4%;">Status</th>
				<th style="width: 5%;">Attachment</th>
				<th style="width: 4%;">Edit</th>
				<th style="width: 5%;">Remove</th>
				
			</tr>
		</thead>
		<tr th:each = "knowledgeItem : ${knowledgeList.content}">
<!-- 			<td><a th:href="@{/viewknowledge/{knowledgeItemId}(knowledgeItemId=${knowledgeItem.id})}"><span th:text="${knowledgeItem.id}"></span></a></td> -->
			<td><a th:href="@{/viewknowledge/{knowledgeItemId}(knowledgeItemId=${knowledgeItem.id})}"><span th:text = "${knowledgeItem.title}"></span></a></td>
			<td><a th:href="@{/viewknowledge/{knowledgeItemId}(knowledgeItemId=${knowledgeItem.id})}"><span th:text = "${knowledgeItem.description}"></span></a></td>
			<td><a th:href="@{/viewknowledge/{knowledgeItemId}(knowledgeItemId=${knowledgeItem.id})}"><span th:text = "${knowledgeItem.platform.platformName}"></span></a></td>
			<td><a th:href="@{/viewknowledge/{knowledgeItemId}(knowledgeItemId=${knowledgeItem.id})}"><span th:text = "${knowledgeItem.platform.marketName}"></span></a></td>
			<td><a th:href="@{/viewknowledge/{knowledgeItemId}(knowledgeItemId=${knowledgeItem.id})}"><span th:text = "${knowledgeItem.platform.sysid}"></span></a></td>
			<td><a th:href="@{/viewknowledge/{knowledgeItemId}(knowledgeItemId=${knowledgeItem.id})}"><span th:text = "${knowledgeItem.commodity.commodity}"></span></a></td>
			<td><a th:href="@{/viewknowledge/{knowledgeItemId}(knowledgeItemId=${knowledgeItem.id})}"><span th:text = "${knowledgeItem.regionCountry.country}"></span></a></td>
			<td><a th:href="@{/viewknowledge/{knowledgeItemId}(knowledgeItemId=${knowledgeItem.id})}"><span th:text = "${knowledgeItem.severity}"></span></a></td>
			<td><a th:href="@{/viewknowledge/{knowledgeItemId}(knowledgeItemId=${knowledgeItem.id})}"><span th:text = "${knowledgeItem.status}"></span></a></td>
			
			<td>
				<a th:if="${knowledgeItem.attachment != null}" th:href="@{/downloadknowledge/{knowledgeItemId}(knowledgeItemId=${knowledgeItem.id})}"><img alt="Download" th:src="@{/img/download.png}" width="25" height="25"></a>
				<a th:if="${knowledgeItem.attachment == null}"><img alt="---" th:src="@{/img/noFileToDownload.png}" width="25" height="25"></a>
			</td>
			
			<td><a th:href="@{/editknowledge/{knowledgeItemId}(knowledgeItemId=${knowledgeItem.id})}"><img alt="Edit" th:src="@{/img/editar.png}" width="25" height="25"></a></td>
			<td><a th:href="@{/deleteknowledge/{knowledgeItemId}(knowledgeItemId=${knowledgeItem.id})}"><img alt="Delete" th:src="@{/img/delete5.png}" width="25" height="25"></a></td>
		</tr>
	</table>
	
	<div>&nbsp;</div>
	
	<div class="row" style="text-align: center;">
		
		Total Items: [[${knowledgeList.totalElements}]]&nbsp;-&nbsp;Page [[${knowledgeList.number+1}]] of [[${knowledgeList.totalPages}]]
		&nbsp;-&nbsp;
		
		
		<a th:if="${knowledgeList.number+1 > 1}" th:href="@{/pag(page=0, size=${knowledgeList.size}, searchWord=${searchWord}, platforminfo=${platforminfo},
			countryinfo=${countryinfo}, commodityinfo=${commodityinfo}, statusinfo=${statusinfo}, severityinfo=${severityinfo},
			titledescriptioninfo=${titledescriptioninfo}, titledescriptionkeyword=${titledescriptionkeyword})}">First</a>
		<span th:unless="${knowledgeList.number+1 > 1}">First</span>
		&nbsp;&nbsp;
		
		<span th:if="${knowledgeList.hasPrevious()}">
			<a th:href="@{/pag(page=${knowledgeList.number-1}, size=${knowledgeList.size}, searchWord=${searchWord}, platforminfo=${platforminfo},
			countryinfo=${countryinfo}, commodityinfo=${commodityinfo}, statusinfo=${statusinfo}, severityinfo=${severityinfo},
			titledescriptioninfo=${titledescriptioninfo}, titledescriptionkeyword=${titledescriptionkeyword})}">Back</a>
		</span>
		<span th:unless="${knowledgeList.hasPrevious()}">Back</span>
		&nbsp;&nbsp;
	
		<th:block th:each="i: ${#numbers.sequence(0, knowledgeList.totalPages - 1)}">
			<a th:if="${i != knowledgeList.number}" th:href="@{/pag(page=${i}, size=${knowledgeList.size}, searchWord=${searchWord}, platforminfo=${platforminfo},
			countryinfo=${countryinfo}, commodityinfo=${commodityinfo}, statusinfo=${statusinfo}, severityinfo=${severityinfo},
			titledescriptioninfo=${titledescriptioninfo}, titledescriptionkeyword=${titledescriptionkeyword})}">[[${i} + 1]]</a>
			
			<span th:unless="${i != knowledgeList.number}">[[${i} + 1]]</span>
 			&nbsp;&nbsp;
			
		</th:block>
		
		<span th:if="${knowledgeList.hasNext()}">
			<a th:href="@{/pag(page=${knowledgeList.number+1}, size=${knowledgeList.size}, searchWord=${searchWord}, platforminfo=${platforminfo},
			countryinfo=${countryinfo}, commodityinfo=${commodityinfo}, statusinfo=${statusinfo}, severityinfo=${severityinfo},
			titledescriptioninfo=${titledescriptioninfo}, titledescriptionkeyword=${titledescriptionkeyword})}">Next</a>
		</span>
		<span th:unless="${knowledgeList.hasNext()}">Next</span>
		&nbsp;&nbsp;
		
		<a th:if="${knowledgeList.number+1 < knowledgeList.totalPages}" th:href="@{/pag(page=${knowledgeList.totalPages-1}, size=${knowledgeList.size}, searchWord=${searchWord}, platforminfo=${platforminfo},
			countryinfo=${countryinfo}, commodityinfo=${commodityinfo}, statusinfo=${statusinfo}, severityinfo=${severityinfo},
			titledescriptioninfo=${titledescriptioninfo}, titledescriptionkeyword=${titledescriptionkeyword})}">Last</a>
		<span th:unless="${knowledgeList.number+1 < knowledgeList.totalPages}">Last</span>

	</div>
	
<!-- 	<div class="row" style="text-align: center;"> -->
<!-- 		Total Items: [[${totalItems}]] - Page [[${currentPage}]] of [[${totalPages}]] -->
<!-- 		&nbsp; - &nbsp; -->
		
<!-- 		<a th:if="${currentPage > 1}" th:href="@{/page/1}">First</a> -->
<!-- 		<span th:unless="${currentPage > 1}">First</span> -->

<!-- 		&nbsp; -->

<!-- 		<a th:if="${currentPage > 1}" th:href="@{'/page/' + ${currentPage -1}}">Previous</a> -->
<!-- 		<span th:unless="${currentPage > 1}">Previous</span> -->
		
<!-- 		&nbsp;&nbsp;&nbsp; -->
		
<!-- 		<span th:each="i: ${#numbers.sequence(1, totalPages)}"> -->
<!-- 			<a th:if="${i != currentPage}" th:href="@{'/page/' + ${i}}">[[${i}]]</a> -->
<!-- 			<span th:unless="${i != currentPage}">[[${i}]]</span> -->
<!-- 			&nbsp;&nbsp; -->
<!-- 		</span> -->
		
<!-- 		&nbsp; -->
		
<!-- 		<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}}">Next</a> -->
<!-- 		<span th:unless="${currentPage < totalPages}">Next</span> -->

<!-- 		&nbsp; -->

<!-- 		<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}}">Last</a> -->
<!-- 		<span th:unless="${currentPage < totalPages}">Last</span> -->
		
		
<!-- 	</div> -->
	
	</fieldset>

<script type="text/javascript">
		
	$(document).ready(function(){
 		$('.sidenav').sidenav();
 	});
	
	$(".browser-default").chosen({width: "100%"});
	
	function resetfields(){
// 		$(".browser-default").val('').trigger("chosen:updated");
		window.location.replace("/index");
	}
	
</script>

</body>
</html>