<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>kbs</title>

	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css"  media="screen,projection"/>
	<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
	<script type="text/javascript" src="/materialize/js/jquery.min.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.js"></script>
    <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
<!--     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->
    
    
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
	<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" >
	
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
<!-- <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script> -->
	
	
<style type="text/css">
/* sobrescrever o nav padrao do materialize para trocar cor da barra */
nav {
	color: #fff;
/* 	background-color: #ee6e73; */
	background-color: #007db8;
	width: 100%;
	height: 56px;
	line-height: 56px
}

</style>

</head>
<body>

	<h5 style="text-align: center;">Knowledge Base System</h5>

	<nav>
		<div class="nav-wrapper">
			<a href="/index" class="brand-logo right">Logo</a>
			<a href="#" class="sidenav-trigger" data-target="mobile-nav">
				<i class="material-icons">menu</i>
			</a>
			<ul class="Right hide-on-med-and-down">
				<li><a href="/index">Front Page</a></li>
				<li><a href="/registerknowledge">Register New</a></li>
				<li><a href="/admin">Admin</a></li>
			</ul>
		</div>
	</nav>

	<ul class="sidenav" id="mobile-nav">
	    <li><a href="/index">Front Page</a></li>
		<li><a href="/registerknowledge">Register New</a></li>
		<li><a href="/admin">Admin</a></li>
	</ul>

	<br>
	<br>
	<br>
	
	<div th:each="m : ${msg}">
		<span th:text = "${m}"></span>	
	</div>

	<div class="row">
<!-- 	o de telefone da aula faz action to th: -->
		<form action="saveknowledge" id="formKnowledge" method="post" class="col s12" th:object="${knowledgeObj}" enctype="multipart/form-data">
			<div class="row">
				<div class="input-field col s2">
					<label for="id" class="active">ID</label>
					<input name="id" id="id" readonly="readonly" th:field="*{id}">
				</div>
				<div class="input-field col s4">
					<input name="title" type="text" id="title" class="validate" required="required" th:field="*{title}">
					<label for="title" class="active">Title</label>
				</div>
				<div class="input-field col s3">	
					<label for="platform" class="active">Platform Name</label>
<!-- 					<select class="browser-default" th:field="*{platform}" onchange="productChanged(this.value)"> -->
					<select class="browser-default" th:field="*{platform}" id="platselect">
						<option th:each="plat : ${platforms}" th:value="${plat.id}" th:text="${plat.platformName}"></option>
					</select>
				</div>
				<div class="input-field col s3">	
					<label for="marketname" class="active">Market Name</label>
					<select class="browser-default" th:field="*{platform}" id="marketname">
						<option th:each="plat : ${platforms}" th:value="${plat.id}" th:text="${plat.marketName}"></option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<textarea id="description" name="description" class="materialize-textarea" required="required" th:field="*{description}" data-length="250"></textarea>
					<label for="description" class="active">Description</label>
<!-- 					<input id="description" name="description" class="validate" required="required" th:field="*{description}"> -->
				</div>
				<div class="input-field col s3">	
					<label for="commodity" class="active">Commodity</label>
					<select class="browser-default" th:field="*{commodity}">
<!-- 						<option value="" disabled="disabled" selected="selected">Choose</option> -->
						<option th:each="c : ${commodities}" th:value="${c.id}" th:text="${c.commodity}"></option>
					</select>
				</div>
				<div class="input-field col s3">
					<label for="severity" class="active">Severity</label>
					<select class="browser-default" th:field="*{severity}">
						<option value="LOW_IMPACT" th:text="LOW_IMPACT"></option>
						<option value="MEDIUM_IMPACT" th:text="MEDIUM_IMPACT"></option>
						<option value="HIGH_IMPACT" th:text="HIGH_IMPACT"></option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<label for="duplicationSteps" class="active">Duplication Steps</label>
<!-- 					<input id="duplicationSteps" type="text" name="duplicationSteps" class="validate" th:field="*{duplicationSteps}"> -->
					<textarea id="duplicationSteps" name="duplicationSteps" class="materialize-textarea" required="required" th:field="*{duplicationSteps}" data-length="250"></textarea>
				</div>
				<div class="input-field col s6">
					<label for="solution" class="active">Solution</label>
<!-- 					<input id="solution" type="text" name="solution" class="validate" th:field="*{solution}"> -->
					<textarea id="solution" name="solution" class="materialize-textarea" required="required" th:field="*{solution}" data-length="250"></textarea>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s3">
					<label for="status" class="active">Status</label>
					<select class="browser-default" th:field="*{status}">
						<option value="" disabled="disabled" selected="selected">Choose</option>
						<option value="OPEN" th:text="OPEN"></option>
						<option value="CLOSED" th:text="CLOSED"></option>
					</select>
				</div>
				<div class="input-field col s3">
					<label for="country" class="active">Country</label>
					<select class="browser-default" th:field="*{regionCountry}">
						<option th:each="ctry : ${countries}" th:value="${ctry.id}" th:text="${ctry.country}"></option>
					</select>
				</div>
				
				<div class="input-field col s3">
					<label for="createDate" class="active">Create Date</label>
					<input class="datepicker" id="createDate" name="createDate" required="required" th:field="*{createDate}">
				</div>
				<div class="input-field col s3">
					<label for="closeDate" class="active">Close Date</label>
					<input class="datepicker" id="closeDate" name="closeDate"  th:field="*{closeDate}">
				</div>
			</div>
			

			<div class="row">
				<div class="input-field col s12">
					<label for="file" class="active">Attachment</label>
					<input type="file" class="file-field input-field" id="file" name="file">				
				</div>
			</div>

			<div class="row">
				<div class="input-field col s6">
					<button class="btn waves-effect waves-light" type="submit" name="save">Save</button>
					<button class="btn waves-effect waves-light" type="reset" name="new">New</button>
					
				</div>
			</div>



		</form>
	</div>
	
	
<script type="text/javascript">

// 	$(document).ready(function(){
	 
// 	 // Initialize Date picker
	 
// 	$('#createDate').datepicker({
// 		showOthermonths:true,
// 		format: 'yyyy-mm-dd',
// 		maxDate: new Date(), // set maximum date to "today"
// 	 	autoClose: true
// 	});
	
// 	$('#closeDate').datepicker({
// 		showOthermonths:true,
// 		format: 'yyyy-mm-dd'
// 	});
	 
// 	 // Changing date range
// 	 $('#createDate').change(function(){
// 	  // Get value
// 	  var minDate = $("#createDate").datepicker('getDate');
// 	  var maxDate = new Date();
// 	  //alert(minDate);
	  
// 	  //date = $("#setMin").datepicker('getDate');
// // 	  date = new Date();
// // 	  alert(date);
// // 	  date.setMinutes(date.getMinutes() - date.getTimezoneOffset());
// // 	  alert(date);
	  
// 	  // Set minDate and maxDate
// 	  if(minDate != ''){
// 	   $('#closeDate').datepicker('option', 'minDate', new Date(minDate));
// 	  }
	 
// 	  if(maxDate != ''){
// 	   $('#closeDate').datepicker('option', 'maxDate', new Date());
// 	  }
// 	 });
	 
// 	});
	
	
	



	$(document).ready(function(){
		$('#createDate').datepicker({
			showOthermonths:true,
			format: 'yyyy-mm-dd'
		});
		
		$('#closeDate').datepicker({
			showOthermonths:true,
			format: 'yyyy-mm-dd'
		});
	});

	$(document).ready(function(){
 		$('.sidenav').sidenav();
 	});
	
	$(document).ready(function() {
	    $('textarea#description').characterCounter();
	    $('textarea#duplicationSteps').characterCounter();
	    $('textarea#solution').characterCounter();
	  });
	
	$(document).ready(function() {
	    M.updateTextFields();
	  });

	
// 	jQuery('#createDate').datepicker({ // intitiate datepicker for each element with class name "datepicker"
// // 	  minDate: new Date('2020-01-13'), // set minimum date to "self explanatory"
// 	  maxDate: new Date(), // set maximum date to "today"
// 	  autoClose: true // [optional] enable date picking on a very small window
// 	})
// 	jQuery('#closeDate').datepicker({ // intitiate datepicker for each element with class name "datepicker"
// // 	  minDate: new Date('2020-01-13'), // set minimum date to "self explanatory"
// 	  //minDate: M.Datepicker.getInstance($('#'));
// 	  maxDate: new Date(), // set maximum date to "today"
// 	  autoClose: true // [optional] enable date picking on a very small window
// 	})
	
	


	
	
	
	
	
	
</script>

<script type="text/javascript">

// 	$( "#platselect" ).change(function() {
// 		var id = $("#platselect option:selected").attr('value');
// 	    //alert(id);
	    
// 	    var request = $.ajax({
//             url : "${pageContext.request.contextPth}/productchange/",
//             type : "post",
//             data : "id="+$("#platselect").val(),
//             success: function(res){
//             	//alert('recebeu sucesso!' + res);
//             	alert(res);
            	
// //             	var recebido = res[1];
// //             	alert(recebido);
//             },
//             error: function(){
//             	alert('erro no request');
//             }
//           });
	    
// 	    //$("#marketname").attr('value') = id;
// 	    //$( "#divteste" ).text( "trocado valor no campo" ).show().fadeOut( 1000 );
		
// 	});

  	function productChanged(val){
		
  		var url = '/productchange/'+val;
  		alert(url);
 		
  			
 		$("#marketname").load(url);
 		
  		//$("#marketname").textContent.load(url);
 		//document.getElementById("marketname").value = val;
		//document.getElementById("marketname").textContent = val;
 	}
</script>

</body>
</html>